biblioteca_Jorge.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--  -->
    <!-- Añadimos una anotación sobre la utilidad de este documento -->
    <xs:annotation>
        <xs:documentation>
            Esquema de la estructura de los prestamos de una biblioteca
        </xs:documentation>
    </xs:annotation>
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>
                <!-- Secuencia de los elementos hijo de Biblioteca -->
                <xs:element name="nombre" type="xs:string"/>        
                <xs:element name="direccion" type="xs:string"/>
                <xs:element name="prestamos">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- Secuencia de los elementos hijos de prestamos, que son Libros, Revistas y Periódicos -->
                            <!-- Definimos todos de forma que puede que no aparezca ese elemento (por ejemplo, no hay revistas para prestar) -->
                            <!-- y que no haya límite máximo de elementos que incluir -->
                            <xs:element name="libro" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <!-- Los elementos titulo, sinopsis e índice, como no requieren una restricción, solo se pone el tipo que se desea -->
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="sinopsis" type="xs:string"/>
                                        <xs:element name="indice" type="xs:string"/>
                                        <xs:element name="capitulos">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <!-- El elemento capitulo puede aparecer las veces que haga falta (mínimo 1 por defecto) -->
                                                    <xs:element name="capitulo" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <!-- Elemento de capítulo que contiene un atributo con una URL de informacion -->
                                                                <xs:element name="contenido">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="informacion" type="xs:string" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <!-- Atributo de capitulo, obligando su incorporación y solo se puedan números -->
                                                            <xs:attribute name="paginas" type="xs:int" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <!-- Atributos del elemento libro -->
                                    <!-- Atributo obligatiorio en el que obligamos a un formato especifico para escribir y ser clave única -->
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:ID">
                                                <xs:pattern value="[L]{1}[0-9]{4}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <!-- Atributo obligatorio con una lista para elegir la clase del libro -->
                                    <xs:attribute name="tipo_clase" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="novela"/>
                                                <xs:enumeration value="infantil"/>
                                                <xs:enumeration value="didactico"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <!-- Atributo obligatorio sin restricciones ya que solo queremos que sea numérico entero -->
                                    <xs:attribute name="paginas" type="xs:int" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <!-- Mismas propiedades que Libro -->
                            <xs:element name="revista" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <!-- Elementos hijo de Revista, los cuales no necesitan restricciones y solo definimos su tipo -->
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="numero" type="xs:int"/>
                                        <xs:element name="indice" type="xs:string"/>
                                        <xs:element name="secciones_revista">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <!-- Elemento hijo de secciones, mínimo obligatorio por defecto y máximo sin límite -->
                                                    <xs:element name="seccion_revista" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <!-- Elemento de seccion que contiene un atributo con una URL de informacion -->
                                                                <xs:element name="contenido">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="informacion" type="xs:string"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <!-- Atributo de seccion para el número de páginas, obligatorio y de tipo numerico entero -->
                                                            <xs:attribute name="paginas" type="xs:int" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <!-- Atributos de Revista, con las mismas propiedades que los atributos de Libro-->
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:ID">
                                                <xs:pattern value="[R]{1}[0-9]{4}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="informatica"/>
                                                <xs:enumeration value="corazon"/>
                                                <xs:enumeration value="coches"/>
                                                <xs:enumeration value="investigacion"/>
                                                <xs:enumeration value="otras"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <!-- Atributo de seccion para especifar la cantidad de paginas, obligatorio y de tipo numerico entero -->
                                    <xs:attribute name="paginas" type="xs:int" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <!-- Mismas propiedades que Libro -->
                            <xs:element name="periodico" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <!-- Elementos hijos de periodico, no necesitan restricciones, solo se describr el tipo -->
                                        <xs:element name="indice" type="xs:string"/>
                                        <xs:element name="secciones_periodico">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <!-- Elemento hijo de secciones, mínimo obligatorio y máximo el necesario -->
                                                    <xs:element name="seccion_periodico" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <!-- Elemento hijo de seccion -->
                                                                <!-- El elemento artículo podrá aparecer las veces que haga falta, por defecto mínimo una vez -->
                                                                <xs:element name="articulo" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <!-- Elementos hijos de Articulo -->
                                                                            <!-- Elemento Autor con restricción a la hora de incluir datos -->
                                                                            <!-- Se especifica que debe ser nombre + apellido y la primera de ambas en mayúscula -->
                                                                            <xs:element name="autor">
                                                                                <xs:simpleType>
                                                                                    <xs:restriction base="xs:string">
                                                                                        <xs:pattern value="[A-Z][a-z]+\s[A-Z][a-z]+"/>
                                                                                    </xs:restriction>
                                                                                </xs:simpleType>
                                                                            </xs:element>
                                                                            <!-- Elemento contenido, con un atributo de tipo String para escribir la URL de informacion -->
                                                                            <xs:element name="contenido">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="informacion" type="xs:string"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <!-- Atributo de seccion, lista de selección obligatoria -->
                                                            <xs:attribute name="tipo" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="economia"/>
                                                                        <xs:enumeration value="opinion"/>
                                                                        <xs:enumeration value="deportes"/>
                                                                        <xs:enumeration value="nacional"/>
                                                                        <xs:enumeration value="internacional"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <!-- Mismos atributos que Libro pero requiriendo la fecha de publicacion -->
                                    <xs:attribute name="id" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:ID">
                                                <xs:pattern value="[P]{1}[0-9]{4}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="tipo_clase" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="nacional"/>
                                                <xs:enumeration value="internacional"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="fecha_publicacion" type="xs:date" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>